apiVersion: v1
clusters:
- cluster:
    certificate-authority: server-ca.crt
    server: https://localhost:6443
  name: kube-apiserver-cluster
contexts:
- context:
    cluster: kube-apiserver-cluster
    user: kube-apiserver-cluster
  name: kube-apiserver-cluster
current-context: kube-apiserver-cluster
kind: Config
preferences: {}
users:
- name: kube-apiserver-cluster
  user:
    client-certificate: client.crt
    client-key: client.key
